########################################
# PUBLIC ENV
########################################

NEXT_PUBLIC_SOCKET_SERVER_URL=

########################################
# BASE URL
########################################

BASE_URL=

########################################
# GOOGLE CLOUD
########################################

GCP_PROJECT_ID=
GOOGLE_APPLICATION_CREDENTIALS=
GCP_KEY_BASE64=

########################################
# STORAGE
########################################

STORAGE_TYPE="gcloud" # gcloud | local
GCS_BUCKET_NAME=
LOCAL_STORAGE_PATH=./uploads

########################################
# CACHING
########################################

CACHE_TYPE="redis" # redis | memory
REDIS_URL=
CACHE_DEFAULT_TTL=

########################################
# LOGGING
########################################

LOG_TYPES=[] # console | elasticsearch
LOG_LEVEL=info

ELASTIC_URL=
ELASTIC_INDEX=

########################################
# TRANSLATION
########################################

TRANSLATOR_TYPE=

########################################
# DATABASE CONFIG
########################################

DATABASE_TYPE="remote" # local | remote

LOCAL_DATABASE_URL=
REMOTE_DATABASE_URL=

MSSQL_SA_PASSWORD=

########################################
# DATABASE CONNECTION
########################################

DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SERVER=
DB_ENCRYPT=
DB_TRUST_SERVER_CERTIFICATE=

########################################
# OPEN TELEMETRY
########################################

USE_OPEN_TELEMETRY=true

# AUTO INSTRUMENTATION
OTEL_TRACES_EXPORTER=otlp
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
OTEL_SERVICE_NAME=
OTEL_SERVICE_VERSION=1.0
OTEL_NODE_RESOURCE_DETECTORS=env,host,os

# OTEL Collector
RECEIVER_OTLP_GRPC_ENDPOINT=0.0.0.0:4317
RECEIVER_OTLP_HTTP_ENDPOINT=0.0.0.0:4318

EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
EXPORTER_OTLP_JAEGER_ENDPOINT=jaeger:4317
EXPORTER_PROMETHEUS_ENDPOINT=0.0.0.0:8889

########################################
# AUTH
########################################

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

########################################
# GRAFANA
########################################

GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=

########################################
# ENCRYPTION
########################################

CRYPTO_JS_KEY=