version: '3.8'
services:
  redis:
    image: redis:latest
    container_name: redis-container
    ports:
      - "6379:6379"

  elasticsearch:
    image: elasticsearch:9.1.4
    container_name: elasticsearch-container
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"

  jaeger:
    image: jaegertracing/jaeger:latest
    container_name: jaeger-container
    ports:
      - "16686:16686"
      - "6831:6831/udp"

  kibana:
    image: kibana:9.1.4
    container_name: kibana-container
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch