version: '3.8'
services:

# REDIS FOR CACHING
  redis:
    image: redis:latest
    container_name: redis

# ELASTICSEARCH & KIBANA FOR LOG MANAGEMENT
  elasticsearch:
    image: elasticsearch:9.2.4
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false

  kibana:
    image: kibana:9.2.4
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS="${ELASTIC_URL}"
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

# JAEGER FOR TRACE MANAGEMENT
  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger
    ports:
      - "16686:16686" # UI

# PROMETHEUS & GRAFANA FOR METRICS MANAGEMENT
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - otel-collector

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "4000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - language-grafana-data:/var/lib/grafana
    depends_on:
      - prometheus

# OPENTELEMETRY COLLECTOR FOR COLLECTING & EXPORTING TRACES & METRICS
  otel-collector:
    image: otel/opentelemetry-collector-contrib
    container_name: otel-collector
    volumes:
      - ./otel-collector-config.yaml:/etc/otelcol-contrib/config.yaml
    environment:
      - RECEIVER_OTLP_GRPC_ENDPOINT=${RECEIVER_OTLP_GRPC_ENDPOINT}
      - RECEIVER_OTLP_HTTP_ENDPOINT=${RECEIVER_OTLP_HTTP_ENDPOINT}
      - EXPORTER_OTLP_JAEGER_ENDPOINT=${EXPORTER_OTLP_JAEGER_ENDPOINT}
      - EXPORTER_OTLP_ENDPOINT=${EXPORTER_OTLP_ENDPOINT}
      - EXPORTER_PROMETHEUS_ENDPOINT=${EXPORTER_PROMETHEUS_ENDPOINT}

# DATABASE MIGRATIONS
  migrator:
    build:
      context: .
      dockerfile: Dockerfile
      target: migrator
    container_name: migrator
    env_file:
      - .env
    depends_on:
      sqlserver:
        condition: service_started
    restart: "no"

# APPLICATION
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    ports:
      - "3000:3000"
    env_file:
      - .env
      - .env.local
    depends_on:
      - redis
      - elasticsearch
      - jaeger
      - otel-collector
      - migrator
      - sqlserver
    environment:
      NODE_ENV: production
      NEXT_TELEMETRY_DISABLED: 1
      GOOGLE_APPLICATION_CREDENTIALS: /app/gcp-key.json
    volumes:
      - C:\Users\alpar\Documents\projects\totemic-atom-447420-b0-d685515ea319.json:/app/gcp-key.json:ro # HOST:DOCKER:PERMISSIONS
    restart: unless-stopped

# SOCKET SERVER FOR LIVE SESSIONS
  socket-server:
    image: alparslanorgnl/apps:socket-server
    container_name: socket-server
    restart: always
    ports:
      - "5000:5000"
  
# SQL SERVER FOR DATABASE
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    ports:
      - "1430:1433"
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "${MSSQL_SA_PASSWORD}"
    volumes:
      - language-sqlserver-data:/var/opt/mssql   # HOST:DOCKER:PERMISSIONS
    restart: unless-stopped

volumes:
  language-grafana-data:
  language-sqlserver-data:


# | Port     | Amaç                                      | Erişen                    | Açıklama                                     |
# | -------- | ----------------------------------------- | ------------------------- | -------------------------------------------- |
# | **4317** | OTLP gRPC receiver                        | Uygulama (Next.js)        | Trace + metric verilerini Collector’a yollar |
# | **4318** | OTLP HTTP receiver                        | Alternatif HTTP protokolü | (kullanmak zorunda değilsin)                 |
# | **8888** | Collector’un *kendi* metrikleri           | Prometheus (isteğe bağlı) | Collector’un iç durumu                       |
# | **8889** | Uygulama metriklerinin Prometheus formatı | Prometheus                | Asıl scrape edilen metrik endpoint           |


# BİR CONTAINER'IN DİNLEDİĞİ PORT'LARI EXPOSE İLE DEĞİŞTİREMEYİZ. EXPOSE SADECE METADATA BİLGİSİ İÇİN GEREKLİDİR.
# CONTAINER'IN DEFAULT OLARAK DİNLEDİĞİ PORTLAR OLABİLİR.
# DİNLEDİĞİ PORT'U DEĞİŞTİRMEK VEYA PORT AÇMAK İÇİN UYGULAMANIN YANİ CONTAINER'IN BUNU BİZE SAĞLAMASI GEREKİR
# BUNU İKİ YOL İLE BİZE SAĞLAYABİLİR:
  # UYGULAMANIN SAĞLADIĞI KONFİGÜRASYON DOSYASI İLE
  # ENVIRONMENT VARIABLES İLE (E.G ELASTICSEARCH_HOSTS)
# PORTS İSE HOST İLE CONTAINER ARASINDAKİ PORT YÖNLENDİRMESİNİ SAĞLAR